@font-face {
    font-family: 'Libre';
    src: url('../fonts/LibreBaskerville-Regular.ttf');
}
@font-face {
    font-family: 'Noto';
    src: url('../fonts/NotoSerif-Regular.ttf');
}
.post-title {
    font-family: 'Libre';
}
.image-header {
    background-color: black;
    width: 100%;
    height: 650px;  
}
.image-header-carousel::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
    position: absolute;
    bottom: 0;
}
.image-header-carousel a {
    text-decoration: none;
    color: white;
}
.image-header-carousel a:hover {
    text-decoration: none;
    color: white;
}
.loading-spinner {
   margin-top: 30%;
   margin-left: 49%;
}
.regular-container {
    margin:2% 0px
}
.regular-header {
    font-family: 'Libre';
}
.regular-header a {
    text-decoration: none;
    color: black;
}
.regular-header a:hover {
    text-decoration: none;
    color: black;
}
.regular-image-container {
    width: 20rem;
    height: 15rem;
    overflow: hidden;

}
.regular-image-container img {
    width: 100%;
    height: 100%;
    transition: transform .5s ease;

}
.regular-image-container:hover img {
    transform: scale(1.5);
}
.regular-row {
    justify-content: end;
    margin-top: 50px !important;
}
.banner-word {
    margin-top: 8%;
    font-family: 'Noto';    
}
.source-container {
    margin-top: 4rem;
}
.source-slider {
    height: 340px;
    margin-left: 20px;
    margin-right: 100px;
}
.slick-slider {
    margin: 0 -15px;
  }

.slick-slide {
    margin-right:15px;
    margin-left:15px;
}
@media only screen and (max-width: 600px) {
    .slick-slider {
        margin: 0 -15px;
      }
    .slick-slide {
        margin-right:5px;
        margin-left:15px;
    }
  }
.navbar-app {
      height: 2rem;
  }
  .card-header {
      background-color: #e8e8e8 !important; 
  }
  @media (max-width:1200px) {
    .image-header {
        background-color: black;
        width: 100%;
        height: 620px;  
    }
  }
@media (max-width: 748px) { 
    .regular-image-container {
        width: 32rem;
        height: 18rem;
        overflow: hidden;
    }
    .image-header {
        background-color: black;
        width: 100%;
        height: 420px;  
    }
}
@media (max-width: 610px) { 
    .regular-image-container {
        width: 31rem;
        height: 18rem;
        overflow: hidden;
    }
    .image-header {
        background-color: black;
        width: 100%;
        height: 420px;  
    }

}
@media (max-width: 530px) { 
    .regular-image-container {
        width: 28rem;
        height: 18rem;
        overflow: hidden;
    }
    .image-header {
        background-color: black;
        width: 100%;
        height: 320px;  
    }
    .source-container {
        margin-top: -15rem;
        background-color: blue;
    }
    .image-header-carousel p {
        display: none;
    }
    .image-header-carousel a {
       font-size: 1rem;
    }
}