@font-face {
    font-family: 'Libre';
    src: url('../fonts/LibreBaskerville-Regular.ttf');
}
@font-face {
    font-family: 'Noto';
    src: url('../fonts/NotoSerif-Regular.ttf');
}
.post-title {
    font-family: 'Libre';
}
.image-header {
    background-color: black;
    width: 100%;
    height: 650px;  
}
.image-header-carousel::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
    position: absolute;
    bottom: 0;
}
.loading-spinner {
   margin-top: 30%;
   margin-left: 49%;
}
.regular-container {
    margin:2% 0px
}
.regular-header {
    font-family: 'Libre';
}
.regular-image-container {
    width: 20rem;
    height: 15rem;
    position: relative;
    margin: 0 auto;
    overflow: hidden;

}
.regular-image-container img {
    width: 100%;
    height: 100%;
    transition: transform .5s ease;

}
.regular-image-container:hover img {
    transform: scale(1.5);
}
.banner-word {
    margin-top: 8%;
    font-family: 'Noto';    
}